*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    padding: 1.5rem;
    width: 100%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .hero-text{
        width: 100%;
    
        img{
            width: 100%;
            object-fit: cover;
        }
    
        .text{
            display: flex;
            justify-content: space-between;
            font-family: monospace;
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 1rem;
            letter-spacing: 0.1em;

        }
    }

    .image-text{
        width: 100%;

        .top{
            width: 100%;
            aspect-ratio: 1/1;


            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .middle{
            .heading{
                margin-top: 2rem;
                font-size: 2.8em;
                font-weight:350;
                line-height:1em;
                text-transform: uppercase;
                letter-spacing: 0.6;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
    
            .para{
                margin-top: 1rem;
                font-size: 1.5em;
                opacity: 0.9;
                line-height:1.3em;
                letter-spacing: 0.6;
                font-family:monospace;
            }


            .services{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                

                .ser{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    p{
                        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size: 1.8em;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 8;
                    }
                }
            }
        }


        }

    .vertical-text{
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;

        .top{
            width: 100%;
            aspect-ratio: 1/1;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .bottom{
            display: flex;
            width: 100%;
            // gap: 1em;
            p{
                writing-mode: vertical-rl;
                padding-top: 1em;
                margin-right: 0.5rem;
            }

            .text{
                h1{
                    font-size: 3em;
                    text-transform: uppercase;
                    font-weight: 300;
                    line-height: 0.9;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                }
                p{
                    writing-mode: initial;
                    line-height: 1.5;
                    font-family: monospace;
                    font-size: 1.5em;
                    opacity: 0.6;

                }
            }
        }
    }

    .container{
        display: flex;
        flex-direction: column;

        .top{

            h1{
                text-transform: uppercase;
                font-family: sans-serif;
                font-size: 2.5em;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            .srvc{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .srv{
                    display: flex;
                flex-direction: column;
                gap: 1rem;
                    h3{
                        color: rgb(16, 16, 16);
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 1.8em;
                        padding-top: 1rem;
                        font-family: sans-serif;
                    }

                    p{
                        font-size: 1.3em;
                        font-family: monospace;
                        opacity: 0.5;
                        line-height: 1.7;
                    }

                    .icon{
                        display: flex;
                        flex-direction: row;
                        margin-top: 0.8rem;
                        .ic{
                            width: 2rem;
                            height: 2rem;
                            margin-right: 1rem;
                            border: 1px solid black;
                            border-radius: 50%;
                            margin-bottom: 7px;
                        }
                        p{
                            text-transform: uppercase;
                            font-size: 1.1em;
                            font-family: monospace;
                            opacity: 0.9;  
                        }
                    }
                }
            }
        }

        .bottom{
            width: 100%;
            aspect-ratio: 1/1;
            margin-top: 2em;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
}
}

@media (min-width:900px) {
    main{
        padding: 4rem;
        gap: 3rem;

        .image-text{
            display: flex;
            flex-direction: row-reverse;
            gap: 4em;

        .middle{

            .heading{
                font-size: 5em;
                margin-top: 0;
                letter-spacing: 0.05em;
                line-height: 0.9;
                // font-weight: 400;
            }
            .para{
                font-size: 1.5em;
            }

            .services{
                margin-top: 4.3rem;
                .ser{
                    p{
                        // font-size: 2em;

                    }
                }
            }
        }

    }

    .vertical-text{
        flex-direction: row;

        .top{
            width: 30%;
        }

        .bottom{
            width: 75%;
            flex-direction: row-reverse;


            .text{
                height: 100%;
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 7em;
                }
                p{
                    margin-top: auto;
                }
            }
        }
    }

    .container{
        flex-direction: row;

        .top{
            margin-top: 4rem;
            width: 50%;
            margin-right: 4rem;
            h1{
                font-size: 6em;
                font-weight: 100;
                line-height: 1;
                margin-bottom: 3rem;
            }
            hr{
                opacity: 0.5;
            }

            .srvc{
                display: grid;
                gap: 2rem;
                grid-template-areas: 
                "a b"
                "c d";

                .srv-a{
                    width: 90%;
                    grid-area: a;
                }

                .srv-b{
                    width: 90%;
                    grid-area: b;
                }

                .srv-c{
                    width: 90%;
                    grid-area: c;
                }
                .srv-d{
                    width: 90%;
                    grid-area: d;

                }

                h3{
                    font-size: 1.5em;
                }

    }
}


        .bottom{
            width: 50%;
            margin-top: 4rem;
        }
}

}
}